.exppros .d-flex {
    gap: 1em;
}

.exp {
    background-color: #ffffff1a;
    width: 40%;
    padding: 20px;
    height: 55vh;
    border-radius: 10px;
}

.exp .d-flex p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff78;
    min-width: 40%;
    height: 40px;
    border-radius: 25px;
    margin: 0;
    padding: 0;
}

.exp .d-flex p:hover {
    background-color: #ffffff9a;
}

@media (max-width : 900px) {
    .exp {
        width: 70%;
        height: 70vh;
    }

    .exp:last-child {
        height: 55vh;
    }

    .exp:nth-child(2) {
        height: 45vh;
    }

    .exp .d-flex p {
        font-size: 0.55rem;
        min-width: 45%;
    }
}