html {
    font-size: 16px;
    overflow: hidden;
}

main {
    overflow: hidden;
    background-color: black;
    z-index: -10;
}

*{
    font-family: 'Jesfin_Sans', monospace;
    color: rgb(226, 218, 218) !important;
    text-decoration: none !important;
}

.copyright {
    margin-top: 0.5vh;
    margin-bottom: -2vh;
    font-size: 0.7rem;
}

.enable {
    margin-left: 100;
}


.home {
    height: 90vh; 
    min-width: 95vw;
    width: 95vw;
    overflow-y: scroll; /* Ou auto */
    position: relative;
    
    /* Pour Firefox */
    scrollbar-width: none; 
    
    /* Pour Internet Explorer et Edge (anciennes versions) */
    -ms-overflow-style: none;  
}

/* Pour Chrome, Safari, Edge et Opera */
.home::-webkit-scrollbar {
    display: none;
}

.home::-webkit-scrollbar {
    display: none;
}

.home > * {
    position: relative;
    z-index: 10;
}

.home ul li a {
    position: relative;
    z-index: 10;
}

.home h1 {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}

.home h5 {
    padding-top: 0 !important;
    font-size: 0.9rem;
}

.home ul {
    list-style: none;
    color: rgb(226, 218, 218);
}

.home ul li.disable {
    display: none;
}

.home ul li.active a {
    display: none;
}

.home li a:hover{
    color: rgb(211, 205, 205) !important;
}

.home div a:hover {
    color: white !important;
}

.home .border a {
    position: relative;
    z-index: 10;
}

.home spline-viewer {
    position: absolute;
    top: 0;
    left: 0;   
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
    z-index: 5;
    min-width: 160%;
    margin-left: -30%;
    margin-right: -30%;
    transition: opacity 0.4s ease; /* Animation pour le toggle */
}

/* Style pour cacher le spline-viewer */
.waves-bg.hidden {
    opacity: 0;
    pointer-events: none;
    /* Alternative sans animation : */
    /* display: none; */
}

.links {
    display: absolute;
    margin-top: -15px;
}

.links img {
    width: 28px;
    filter: brightness(0) invert(1);
}



.links img:hover {
    filter: brightness(0) invert(1) drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
}

@media (min-width : 320px) {
    html {
        font-size: 11px !important;
    }
    .home spline-viewer {
        min-width: 200%;
        margin-left: -50%;
        margin-right: -50%;
        
    }

    .copyright {
        font-size: 0.65rem;
        margin-bottom: -2rem;
    }

}

@media (min-width : 360px) {
    html {
        font-size : 13px !important;
    }
}

@media (min-width : 390px) {
    html {
        font-size: 14.5px !important;
    }

}

@media (min-width : 600px) {
    html {
        font-size : 15px !important;
    }

}

@media (max-width : 1300) {
    .home {
        max-height: 90vh;
    }
}

@media (min-width : 1000px) {
    
}

@media (min-width : 1600px) {
    html {
        font-size : 20px !important;
    }
}